.place__title {
  margin: 0;
  grid-area: title;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 460px) {
  .place__title {
    margin: 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    padding-bottom: 0;
  }
}
