.lead__subtitle {
  max-width: 620px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: 620px;
    margin-left: 74px;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 619px) {
  .lead__subtitle {
    width: 400px;
  }
}

@media screen and (max-width: 460px) {
  .lead__subtitle {
    width: 290px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    width: 288px;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 16px 40px;
  }
}
