@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  max-width: calc(100% - 48px * 2);
  width: 100%;
  height: calc(100% * (740 / 1280));
  overflow: hidden;
  margin: 0 auto 92px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    height: calc(100% * (640 / 1024));
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: calc(100% * (480 / 768));
    margin-bottom: 88px;
  }
}
