@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  max-width: calc(100% - 48px * 2);
  width: 100%;
  height: calc(100vw * (740 / 1280));
  overflow: hidden;
  align-self: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    height: calc(100vw * (640 / 1024));
    max-width: 100%;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: calc(100vw * (480 / 768));
    max-width: 100%;
    margin-bottom: 88px;
  }
}
