@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  max-width: calc(100% - 48px * 2);
  width: 100%;
  overflow: hidden;
  margin: 0 auto 92px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 460px) {
  .cover {
    margin-bottom: 64px;
  }
}
